<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.AboutBlogMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.AboutBlog">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BLOG_KEYWORD" jdbcType="VARCHAR" property="blogKeyword" />
    <result column="BLOG_DESCRIPTION" jdbcType="VARCHAR" property="blogDescription" />
    <result column="BLOG_NAME" jdbcType="VARCHAR" property="blogName" />
    <result column="BLOG_TITLE" jdbcType="VARCHAR" property="blogTitle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BLOG_KEYWORD, BLOG_DESCRIPTION, BLOG_NAME, BLOG_TITLE
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.AboutBlogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ABOUT_BLOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ABOUT_BLOG
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ABOUT_BLOG
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.AboutBlogExample">
    delete from ABOUT_BLOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.AboutBlog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ABOUT_BLOG (BLOG_KEYWORD, BLOG_DESCRIPTION, BLOG_NAME, 
      BLOG_TITLE)
    values (#{blogKeyword,jdbcType=VARCHAR}, #{blogDescription,jdbcType=VARCHAR}, #{blogName,jdbcType=VARCHAR}, 
      #{blogTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.AboutBlog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ABOUT_BLOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogKeyword != null">
        BLOG_KEYWORD,
      </if>
      <if test="blogDescription != null">
        BLOG_DESCRIPTION,
      </if>
      <if test="blogName != null">
        BLOG_NAME,
      </if>
      <if test="blogTitle != null">
        BLOG_TITLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogKeyword != null">
        #{blogKeyword,jdbcType=VARCHAR},
      </if>
      <if test="blogDescription != null">
        #{blogDescription,jdbcType=VARCHAR},
      </if>
      <if test="blogName != null">
        #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="blogTitle != null">
        #{blogTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.AboutBlogExample" resultType="java.lang.Integer">
    select count(*) from ABOUT_BLOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ABOUT_BLOG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.blogKeyword != null">
        BLOG_KEYWORD = #{record.blogKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.blogDescription != null">
        BLOG_DESCRIPTION = #{record.blogDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.blogName != null">
        BLOG_NAME = #{record.blogName,jdbcType=VARCHAR},
      </if>
      <if test="record.blogTitle != null">
        BLOG_TITLE = #{record.blogTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ABOUT_BLOG
    set ID = #{record.id,jdbcType=BIGINT},
      BLOG_KEYWORD = #{record.blogKeyword,jdbcType=VARCHAR},
      BLOG_DESCRIPTION = #{record.blogDescription,jdbcType=VARCHAR},
      BLOG_NAME = #{record.blogName,jdbcType=VARCHAR},
      BLOG_TITLE = #{record.blogTitle,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.AboutBlog">
    update ABOUT_BLOG
    <set>
      <if test="blogKeyword != null">
        BLOG_KEYWORD = #{blogKeyword,jdbcType=VARCHAR},
      </if>
      <if test="blogDescription != null">
        BLOG_DESCRIPTION = #{blogDescription,jdbcType=VARCHAR},
      </if>
      <if test="blogName != null">
        BLOG_NAME = #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="blogTitle != null">
        BLOG_TITLE = #{blogTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.AboutBlog">
    update ABOUT_BLOG
    set BLOG_KEYWORD = #{blogKeyword,jdbcType=VARCHAR},
      BLOG_DESCRIPTION = #{blogDescription,jdbcType=VARCHAR},
      BLOG_NAME = #{blogName,jdbcType=VARCHAR},
      BLOG_TITLE = #{blogTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>