<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.PhotosMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.Photos">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PHOTO_NAME" jdbcType="VARCHAR" property="photoName" />
    <result column="PHOTO_SRC" jdbcType="VARCHAR" property="photoSrc" />
    <result column="PHOTO_DESCRIPTION" jdbcType="VARCHAR" property="photoDescription" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="SORT_ID" jdbcType="BIGINT" property="sortId" />
    <result column="UPLOAD_TIME" jdbcType="BIGINT" property="uploadTime" />
    <result column="UPLOAD_IP" jdbcType="VARCHAR" property="uploadIp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PHOTO_NAME, PHOTO_SRC, PHOTO_DESCRIPTION, USER_ID, SORT_ID, UPLOAD_TIME, UPLOAD_IP
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.PhotosExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PHOTOS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PHOTOS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PHOTOS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.PhotosExample">
    delete from PHOTOS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.Photos">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into PHOTOS (PHOTO_NAME, PHOTO_SRC, PHOTO_DESCRIPTION, 
      USER_ID, SORT_ID, UPLOAD_TIME, 
      UPLOAD_IP)
    values (#{photoName,jdbcType=VARCHAR}, #{photoSrc,jdbcType=VARCHAR}, #{photoDescription,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{sortId,jdbcType=BIGINT}, #{uploadTime,jdbcType=BIGINT}, 
      #{uploadIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.Photos">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into PHOTOS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="photoName != null">
        PHOTO_NAME,
      </if>
      <if test="photoSrc != null">
        PHOTO_SRC,
      </if>
      <if test="photoDescription != null">
        PHOTO_DESCRIPTION,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="sortId != null">
        SORT_ID,
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME,
      </if>
      <if test="uploadIp != null">
        UPLOAD_IP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="photoName != null">
        #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="photoSrc != null">
        #{photoSrc,jdbcType=VARCHAR},
      </if>
      <if test="photoDescription != null">
        #{photoDescription,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="sortId != null">
        #{sortId,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=BIGINT},
      </if>
      <if test="uploadIp != null">
        #{uploadIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.PhotosExample" resultType="java.lang.Integer">
    select count(*) from PHOTOS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PHOTOS
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.photoName != null">
        PHOTO_NAME = #{record.photoName,jdbcType=VARCHAR},
      </if>
      <if test="record.photoSrc != null">
        PHOTO_SRC = #{record.photoSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.photoDescription != null">
        PHOTO_DESCRIPTION = #{record.photoDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.sortId != null">
        SORT_ID = #{record.sortId,jdbcType=BIGINT},
      </if>
      <if test="record.uploadTime != null">
        UPLOAD_TIME = #{record.uploadTime,jdbcType=BIGINT},
      </if>
      <if test="record.uploadIp != null">
        UPLOAD_IP = #{record.uploadIp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PHOTOS
    set ID = #{record.id,jdbcType=BIGINT},
      PHOTO_NAME = #{record.photoName,jdbcType=VARCHAR},
      PHOTO_SRC = #{record.photoSrc,jdbcType=VARCHAR},
      PHOTO_DESCRIPTION = #{record.photoDescription,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=BIGINT},
      SORT_ID = #{record.sortId,jdbcType=BIGINT},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=BIGINT},
      UPLOAD_IP = #{record.uploadIp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.Photos">
    update PHOTOS
    <set>
      <if test="photoName != null">
        PHOTO_NAME = #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="photoSrc != null">
        PHOTO_SRC = #{photoSrc,jdbcType=VARCHAR},
      </if>
      <if test="photoDescription != null">
        PHOTO_DESCRIPTION = #{photoDescription,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="sortId != null">
        SORT_ID = #{sortId,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME = #{uploadTime,jdbcType=BIGINT},
      </if>
      <if test="uploadIp != null">
        UPLOAD_IP = #{uploadIp,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.Photos">
    update PHOTOS
    set PHOTO_NAME = #{photoName,jdbcType=VARCHAR},
      PHOTO_SRC = #{photoSrc,jdbcType=VARCHAR},
      PHOTO_DESCRIPTION = #{photoDescription,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=BIGINT},
      SORT_ID = #{sortId,jdbcType=BIGINT},
      UPLOAD_TIME = #{uploadTime,jdbcType=BIGINT},
      UPLOAD_IP = #{uploadIp,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>