<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.PhotoSortMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.PhotoSort">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SORT_IMG_NAME" jdbcType="VARCHAR" property="sortImgName" />
    <result column="SORT_IMG_TYPE" jdbcType="VARCHAR" property="sortImgType" />
    <result column="IMG_PASSWORD" jdbcType="VARCHAR" property="imgPassword" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="IMG_SORT_QUESTION" jdbcType="VARCHAR" property="imgSortQuestion" />
    <result column="IMG_SORT_ANSWER" jdbcType="VARCHAR" property="imgSortAnswer" />
    <result column="TYPE_ID" jdbcType="INTEGER" property="typeId" />
    <result column="TOP_PIC_SRC" jdbcType="BIGINT" property="topPicSrc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SORT_IMG_NAME, SORT_IMG_TYPE, IMG_PASSWORD, USER_ID, IMG_SORT_QUESTION, IMG_SORT_ANSWER, 
    TYPE_ID, TOP_PIC_SRC
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.PhotoSortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PHOTO_SORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PHOTO_SORT
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PHOTO_SORT
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.PhotoSortExample">
    delete from PHOTO_SORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.PhotoSort">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into PHOTO_SORT (SORT_IMG_NAME, SORT_IMG_TYPE, IMG_PASSWORD, 
      USER_ID, IMG_SORT_QUESTION, IMG_SORT_ANSWER, 
      TYPE_ID, TOP_PIC_SRC)
    values (#{sortImgName,jdbcType=VARCHAR}, #{sortImgType,jdbcType=VARCHAR}, #{imgPassword,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{imgSortQuestion,jdbcType=VARCHAR}, #{imgSortAnswer,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=INTEGER}, #{topPicSrc,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.PhotoSort">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into PHOTO_SORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sortImgName != null">
        SORT_IMG_NAME,
      </if>
      <if test="sortImgType != null">
        SORT_IMG_TYPE,
      </if>
      <if test="imgPassword != null">
        IMG_PASSWORD,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="imgSortQuestion != null">
        IMG_SORT_QUESTION,
      </if>
      <if test="imgSortAnswer != null">
        IMG_SORT_ANSWER,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="topPicSrc != null">
        TOP_PIC_SRC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sortImgName != null">
        #{sortImgName,jdbcType=VARCHAR},
      </if>
      <if test="sortImgType != null">
        #{sortImgType,jdbcType=VARCHAR},
      </if>
      <if test="imgPassword != null">
        #{imgPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="imgSortQuestion != null">
        #{imgSortQuestion,jdbcType=VARCHAR},
      </if>
      <if test="imgSortAnswer != null">
        #{imgSortAnswer,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="topPicSrc != null">
        #{topPicSrc,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.PhotoSortExample" resultType="java.lang.Integer">
    select count(*) from PHOTO_SORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PHOTO_SORT
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sortImgName != null">
        SORT_IMG_NAME = #{record.sortImgName,jdbcType=VARCHAR},
      </if>
      <if test="record.sortImgType != null">
        SORT_IMG_TYPE = #{record.sortImgType,jdbcType=VARCHAR},
      </if>
      <if test="record.imgPassword != null">
        IMG_PASSWORD = #{record.imgPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.imgSortQuestion != null">
        IMG_SORT_QUESTION = #{record.imgSortQuestion,jdbcType=VARCHAR},
      </if>
      <if test="record.imgSortAnswer != null">
        IMG_SORT_ANSWER = #{record.imgSortAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.topPicSrc != null">
        TOP_PIC_SRC = #{record.topPicSrc,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PHOTO_SORT
    set ID = #{record.id,jdbcType=BIGINT},
      SORT_IMG_NAME = #{record.sortImgName,jdbcType=VARCHAR},
      SORT_IMG_TYPE = #{record.sortImgType,jdbcType=VARCHAR},
      IMG_PASSWORD = #{record.imgPassword,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=BIGINT},
      IMG_SORT_QUESTION = #{record.imgSortQuestion,jdbcType=VARCHAR},
      IMG_SORT_ANSWER = #{record.imgSortAnswer,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      TOP_PIC_SRC = #{record.topPicSrc,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.PhotoSort">
    update PHOTO_SORT
    <set>
      <if test="sortImgName != null">
        SORT_IMG_NAME = #{sortImgName,jdbcType=VARCHAR},
      </if>
      <if test="sortImgType != null">
        SORT_IMG_TYPE = #{sortImgType,jdbcType=VARCHAR},
      </if>
      <if test="imgPassword != null">
        IMG_PASSWORD = #{imgPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="imgSortQuestion != null">
        IMG_SORT_QUESTION = #{imgSortQuestion,jdbcType=VARCHAR},
      </if>
      <if test="imgSortAnswer != null">
        IMG_SORT_ANSWER = #{imgSortAnswer,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="topPicSrc != null">
        TOP_PIC_SRC = #{topPicSrc,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.PhotoSort">
    update PHOTO_SORT
    set SORT_IMG_NAME = #{sortImgName,jdbcType=VARCHAR},
      SORT_IMG_TYPE = #{sortImgType,jdbcType=VARCHAR},
      IMG_PASSWORD = #{imgPassword,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=BIGINT},
      IMG_SORT_QUESTION = #{imgSortQuestion,jdbcType=VARCHAR},
      IMG_SORT_ANSWER = #{imgSortAnswer,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=INTEGER},
      TOP_PIC_SRC = #{topPicSrc,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>