<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.SecretMessageMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.SecretMessage">
    <id column="secret_id" jdbcType="BIGINT" property="secretId" />
    <result column="send_id" jdbcType="BIGINT" property="sendId" />
    <result column="receive_id" jdbcType="BIGINT" property="receiveId" />
    <result column="message_topic" jdbcType="VARCHAR" property="messageTopic" />
    <result column="message_content" jdbcType="VARCHAR" property="messageContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    secret_id, send_id, receive_id, message_topic, message_content
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.SecretMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from secret_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from secret_message
    where secret_id = #{secretId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from secret_message
    where secret_id = #{secretId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.SecretMessageExample">
    delete from secret_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.SecretMessage">
    insert into secret_message (secret_id, send_id, receive_id, 
      message_topic, message_content)
    values (#{secretId,jdbcType=BIGINT}, #{sendId,jdbcType=BIGINT}, #{receiveId,jdbcType=BIGINT}, 
      #{messageTopic,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.SecretMessage">
    insert into secret_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secretId != null">
        secret_id,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="receiveId != null">
        receive_id,
      </if>
      <if test="messageTopic != null">
        message_topic,
      </if>
      <if test="messageContent != null">
        message_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secretId != null">
        #{secretId,jdbcType=BIGINT},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=BIGINT},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=BIGINT},
      </if>
      <if test="messageTopic != null">
        #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null">
        #{messageContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.SecretMessageExample" resultType="java.lang.Integer">
    select count(*) from secret_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update secret_message
    <set>
      <if test="record.secretId != null">
        secret_id = #{record.secretId,jdbcType=BIGINT},
      </if>
      <if test="record.sendId != null">
        send_id = #{record.sendId,jdbcType=BIGINT},
      </if>
      <if test="record.receiveId != null">
        receive_id = #{record.receiveId,jdbcType=BIGINT},
      </if>
      <if test="record.messageTopic != null">
        message_topic = #{record.messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.messageContent != null">
        message_content = #{record.messageContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update secret_message
    set secret_id = #{record.secretId,jdbcType=BIGINT},
      send_id = #{record.sendId,jdbcType=BIGINT},
      receive_id = #{record.receiveId,jdbcType=BIGINT},
      message_topic = #{record.messageTopic,jdbcType=VARCHAR},
      message_content = #{record.messageContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.SecretMessage">
    update secret_message
    <set>
      <if test="sendId != null">
        send_id = #{sendId,jdbcType=BIGINT},
      </if>
      <if test="receiveId != null">
        receive_id = #{receiveId,jdbcType=BIGINT},
      </if>
      <if test="messageTopic != null">
        message_topic = #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null">
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
    </set>
    where secret_id = #{secretId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.SecretMessage">
    update secret_message
    set send_id = #{sendId,jdbcType=BIGINT},
      receive_id = #{receiveId,jdbcType=BIGINT},
      message_topic = #{messageTopic,jdbcType=VARCHAR},
      message_content = #{messageContent,jdbcType=VARCHAR}
    where secret_id = #{secretId,jdbcType=BIGINT}
  </update>
</mapper>