<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.SystemMessageMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.SystemMessage">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SEND_ID" jdbcType="BIGINT" property="sendId" />
    <result column="GROUP_ID" jdbcType="INTEGER" property="groupId" />
    <result column="SEND_DEFAULT" jdbcType="BIGINT" property="sendDefault" />
    <result column="SYSTEM_TOPIC" jdbcType="VARCHAR" property="systemTopic" />
    <result column="SYSTEM_CONTENT" jdbcType="VARCHAR" property="systemContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SEND_ID, GROUP_ID, SEND_DEFAULT, SYSTEM_TOPIC, SYSTEM_CONTENT
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.SystemMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYSTEM_MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYSTEM_MESSAGE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYSTEM_MESSAGE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.SystemMessageExample">
    delete from SYSTEM_MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.SystemMessage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SYSTEM_MESSAGE (SEND_ID, GROUP_ID, SEND_DEFAULT, 
      SYSTEM_TOPIC, SYSTEM_CONTENT)
    values (#{sendId,jdbcType=BIGINT}, #{groupId,jdbcType=INTEGER}, #{sendDefault,jdbcType=BIGINT}, 
      #{systemTopic,jdbcType=VARCHAR}, #{systemContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.SystemMessage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SYSTEM_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        SEND_ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="sendDefault != null">
        SEND_DEFAULT,
      </if>
      <if test="systemTopic != null">
        SYSTEM_TOPIC,
      </if>
      <if test="systemContent != null">
        SYSTEM_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        #{sendId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="sendDefault != null">
        #{sendDefault,jdbcType=BIGINT},
      </if>
      <if test="systemTopic != null">
        #{systemTopic,jdbcType=VARCHAR},
      </if>
      <if test="systemContent != null">
        #{systemContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.SystemMessageExample" resultType="java.lang.Integer">
    select count(*) from SYSTEM_MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYSTEM_MESSAGE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sendId != null">
        SEND_ID = #{record.sendId,jdbcType=BIGINT},
      </if>
      <if test="record.groupId != null">
        GROUP_ID = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.sendDefault != null">
        SEND_DEFAULT = #{record.sendDefault,jdbcType=BIGINT},
      </if>
      <if test="record.systemTopic != null">
        SYSTEM_TOPIC = #{record.systemTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.systemContent != null">
        SYSTEM_CONTENT = #{record.systemContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYSTEM_MESSAGE
    set ID = #{record.id,jdbcType=BIGINT},
      SEND_ID = #{record.sendId,jdbcType=BIGINT},
      GROUP_ID = #{record.groupId,jdbcType=INTEGER},
      SEND_DEFAULT = #{record.sendDefault,jdbcType=BIGINT},
      SYSTEM_TOPIC = #{record.systemTopic,jdbcType=VARCHAR},
      SYSTEM_CONTENT = #{record.systemContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.SystemMessage">
    update SYSTEM_MESSAGE
    <set>
      <if test="sendId != null">
        SEND_ID = #{sendId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="sendDefault != null">
        SEND_DEFAULT = #{sendDefault,jdbcType=BIGINT},
      </if>
      <if test="systemTopic != null">
        SYSTEM_TOPIC = #{systemTopic,jdbcType=VARCHAR},
      </if>
      <if test="systemContent != null">
        SYSTEM_CONTENT = #{systemContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.SystemMessage">
    update SYSTEM_MESSAGE
    set SEND_ID = #{sendId,jdbcType=BIGINT},
      GROUP_ID = #{groupId,jdbcType=INTEGER},
      SEND_DEFAULT = #{sendDefault,jdbcType=BIGINT},
      SYSTEM_TOPIC = #{systemTopic,jdbcType=VARCHAR},
      SYSTEM_CONTENT = #{systemContent,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>