<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.UserRankMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.UserRank">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_RANK" jdbcType="BIGINT" property="userRank" />
    <result column="RANK_MARK" jdbcType="BIGINT" property="rankMark" />
    <result column="RANK_NAME" jdbcType="VARCHAR" property="rankName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USER_RANK, RANK_MARK, RANK_NAME
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.UserRankExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USER_RANK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER_RANK
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from USER_RANK
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.UserRankExample">
    delete from USER_RANK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.UserRank">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into USER_RANK (USER_RANK, RANK_MARK, RANK_NAME
      )
    values (#{userRank,jdbcType=BIGINT}, #{rankMark,jdbcType=BIGINT}, #{rankName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.UserRank">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into USER_RANK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userRank != null">
        USER_RANK,
      </if>
      <if test="rankMark != null">
        RANK_MARK,
      </if>
      <if test="rankName != null">
        RANK_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userRank != null">
        #{userRank,jdbcType=BIGINT},
      </if>
      <if test="rankMark != null">
        #{rankMark,jdbcType=BIGINT},
      </if>
      <if test="rankName != null">
        #{rankName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.UserRankExample" resultType="java.lang.Integer">
    select count(*) from USER_RANK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update USER_RANK
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userRank != null">
        USER_RANK = #{record.userRank,jdbcType=BIGINT},
      </if>
      <if test="record.rankMark != null">
        RANK_MARK = #{record.rankMark,jdbcType=BIGINT},
      </if>
      <if test="record.rankName != null">
        RANK_NAME = #{record.rankName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update USER_RANK
    set ID = #{record.id,jdbcType=BIGINT},
      USER_RANK = #{record.userRank,jdbcType=BIGINT},
      RANK_MARK = #{record.rankMark,jdbcType=BIGINT},
      RANK_NAME = #{record.rankName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.UserRank">
    update USER_RANK
    <set>
      <if test="userRank != null">
        USER_RANK = #{userRank,jdbcType=BIGINT},
      </if>
      <if test="rankMark != null">
        RANK_MARK = #{rankMark,jdbcType=BIGINT},
      </if>
      <if test="rankName != null">
        RANK_NAME = #{rankName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.UserRank">
    update USER_RANK
    set USER_RANK = #{userRank,jdbcType=BIGINT},
      RANK_MARK = #{rankMark,jdbcType=BIGINT},
      RANK_NAME = #{rankName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>