<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.UserRankMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.UserRank">
    <id column="rank_id" jdbcType="INTEGER" property="rankId" />
    <result column="user_rank_id" jdbcType="SMALLINT" property="userRankId" />
    <result column="rank_mark" jdbcType="INTEGER" property="rankMark" />
    <result column="rank_name" jdbcType="VARCHAR" property="rankName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rank_id, user_rank_id, rank_mark, rank_name
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.UserRankExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_rank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.UserRankExample">
    delete from user_rank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.UserRank">
    insert into user_rank (rank_id, user_rank_id, rank_mark, 
      rank_name)
    values (#{rankId,jdbcType=INTEGER}, #{userRankId,jdbcType=SMALLINT}, #{rankMark,jdbcType=INTEGER}, 
      #{rankName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.UserRank">
    insert into user_rank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rankId != null">
        rank_id,
      </if>
      <if test="userRankId != null">
        user_rank_id,
      </if>
      <if test="rankMark != null">
        rank_mark,
      </if>
      <if test="rankName != null">
        rank_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rankId != null">
        #{rankId,jdbcType=INTEGER},
      </if>
      <if test="userRankId != null">
        #{userRankId,jdbcType=SMALLINT},
      </if>
      <if test="rankMark != null">
        #{rankMark,jdbcType=INTEGER},
      </if>
      <if test="rankName != null">
        #{rankName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.UserRankExample" resultType="java.lang.Integer">
    select count(*) from user_rank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_rank
    <set>
      <if test="record.rankId != null">
        rank_id = #{record.rankId,jdbcType=INTEGER},
      </if>
      <if test="record.userRankId != null">
        user_rank_id = #{record.userRankId,jdbcType=SMALLINT},
      </if>
      <if test="record.rankMark != null">
        rank_mark = #{record.rankMark,jdbcType=INTEGER},
      </if>
      <if test="record.rankName != null">
        rank_name = #{record.rankName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_rank
    set rank_id = #{record.rankId,jdbcType=INTEGER},
      user_rank_id = #{record.userRankId,jdbcType=SMALLINT},
      rank_mark = #{record.rankMark,jdbcType=INTEGER},
      rank_name = #{record.rankName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.UserRank">
    update user_rank
    <set>
      <if test="userRankId != null">
        user_rank_id = #{userRankId,jdbcType=SMALLINT},
      </if>
      <if test="rankMark != null">
        rank_mark = #{rankMark,jdbcType=INTEGER},
      </if>
      <if test="rankName != null">
        rank_name = #{rankName,jdbcType=VARCHAR},
      </if>
    </set>
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.UserRank">
    update user_rank
    set user_rank_id = #{userRankId,jdbcType=SMALLINT},
      rank_mark = #{rankMark,jdbcType=INTEGER},
      rank_name = #{rankName,jdbcType=VARCHAR}
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>
</mapper>