<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.zpbs.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.nix.zpbs.model.User">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="GROUP_ID" jdbcType="BIGINT" property="groupId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="USER_PHONE" jdbcType="BIGINT" property="userPhone" />
    <result column="USER_SEX" jdbcType="VARCHAR" property="userSex" />
    <result column="USER_QQ" jdbcType="BIGINT" property="userQq" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_ADDRESS" jdbcType="VARCHAR" property="userAddress" />
    <result column="USER_MARK" jdbcType="BIGINT" property="userMark" />
    <result column="USER_RANK_ID" jdbcType="INTEGER" property="userRankId" />
    <result column="USER_LAST_LOGIN_IP" jdbcType="VARCHAR" property="userLastLoginIp" />
    <result column="USER_BIRTHDAY" jdbcType="BIGINT" property="userBirthday" />
    <result column="USER_DESCRIPTION" jdbcType="VARCHAR" property="userDescription" />
    <result column="USER_IMAGE_URL" jdbcType="VARCHAR" property="userImageUrl" />
    <result column="USER_SCHOOL" jdbcType="VARCHAR" property="userSchool" />
    <result column="USER_REGISTER_TIME" jdbcType="BIGINT" property="userRegisterTime" />
    <result column="USER_REGISTER_IP" jdbcType="VARCHAR" property="userRegisterIp" />
    <result column="USER_LAST_UPDATE_TIME" jdbcType="BIGINT" property="userLastUpdateTime" />
    <result column="USER_WEIBO" jdbcType="VARCHAR" property="userWeibo" />
    <result column="USER_BLOOD_TYPE" jdbcType="CHAR" property="userBloodType" />
    <result column="USER_SAYS" jdbcType="VARCHAR" property="userSays" />
    <result column="USER_ACTIVATION" jdbcType="INTEGER" property="userActivation" />
    <result column="USER_FREEZE" jdbcType="INTEGER" property="userFreeze" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, GROUP_ID, USER_NAME, USER_PWD, USER_PHONE, USER_SEX, USER_QQ, USER_EMAIL, USER_ADDRESS, 
    USER_MARK, USER_RANK_ID, USER_LAST_LOGIN_IP, USER_BIRTHDAY, USER_DESCRIPTION, USER_IMAGE_URL, 
    USER_SCHOOL, USER_REGISTER_TIME, USER_REGISTER_IP, USER_LAST_UPDATE_TIME, USER_WEIBO, 
    USER_BLOOD_TYPE, USER_SAYS, USER_ACTIVATION, USER_FREEZE
  </sql>
  <select id="selectByExample" parameterType="org.nix.zpbs.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from USER
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.zpbs.model.UserExample">
    delete from USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.zpbs.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into USER (GROUP_ID, USER_NAME, USER_PWD, 
      USER_PHONE, USER_SEX, USER_QQ, 
      USER_EMAIL, USER_ADDRESS, USER_MARK, 
      USER_RANK_ID, USER_LAST_LOGIN_IP, USER_BIRTHDAY, 
      USER_DESCRIPTION, USER_IMAGE_URL, USER_SCHOOL, 
      USER_REGISTER_TIME, USER_REGISTER_IP, USER_LAST_UPDATE_TIME, 
      USER_WEIBO, USER_BLOOD_TYPE, USER_SAYS, 
      USER_ACTIVATION, USER_FREEZE)
    values (#{groupId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=BIGINT}, #{userSex,jdbcType=VARCHAR}, #{userQq,jdbcType=BIGINT}, 
      #{userEmail,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, #{userMark,jdbcType=BIGINT}, 
      #{userRankId,jdbcType=INTEGER}, #{userLastLoginIp,jdbcType=VARCHAR}, #{userBirthday,jdbcType=BIGINT}, 
      #{userDescription,jdbcType=VARCHAR}, #{userImageUrl,jdbcType=VARCHAR}, #{userSchool,jdbcType=VARCHAR}, 
      #{userRegisterTime,jdbcType=BIGINT}, #{userRegisterIp,jdbcType=VARCHAR}, #{userLastUpdateTime,jdbcType=BIGINT}, 
      #{userWeibo,jdbcType=VARCHAR}, #{userBloodType,jdbcType=CHAR}, #{userSays,jdbcType=VARCHAR}, 
      #{userActivation,jdbcType=INTEGER}, #{userFreeze,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.nix.zpbs.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userPwd != null">
        USER_PWD,
      </if>
      <if test="userPhone != null">
        USER_PHONE,
      </if>
      <if test="userSex != null">
        USER_SEX,
      </if>
      <if test="userQq != null">
        USER_QQ,
      </if>
      <if test="userEmail != null">
        USER_EMAIL,
      </if>
      <if test="userAddress != null">
        USER_ADDRESS,
      </if>
      <if test="userMark != null">
        USER_MARK,
      </if>
      <if test="userRankId != null">
        USER_RANK_ID,
      </if>
      <if test="userLastLoginIp != null">
        USER_LAST_LOGIN_IP,
      </if>
      <if test="userBirthday != null">
        USER_BIRTHDAY,
      </if>
      <if test="userDescription != null">
        USER_DESCRIPTION,
      </if>
      <if test="userImageUrl != null">
        USER_IMAGE_URL,
      </if>
      <if test="userSchool != null">
        USER_SCHOOL,
      </if>
      <if test="userRegisterTime != null">
        USER_REGISTER_TIME,
      </if>
      <if test="userRegisterIp != null">
        USER_REGISTER_IP,
      </if>
      <if test="userLastUpdateTime != null">
        USER_LAST_UPDATE_TIME,
      </if>
      <if test="userWeibo != null">
        USER_WEIBO,
      </if>
      <if test="userBloodType != null">
        USER_BLOOD_TYPE,
      </if>
      <if test="userSays != null">
        USER_SAYS,
      </if>
      <if test="userActivation != null">
        USER_ACTIVATION,
      </if>
      <if test="userFreeze != null">
        USER_FREEZE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=BIGINT},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userQq != null">
        #{userQq,jdbcType=BIGINT},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userMark != null">
        #{userMark,jdbcType=BIGINT},
      </if>
      <if test="userRankId != null">
        #{userRankId,jdbcType=INTEGER},
      </if>
      <if test="userLastLoginIp != null">
        #{userLastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=BIGINT},
      </if>
      <if test="userDescription != null">
        #{userDescription,jdbcType=VARCHAR},
      </if>
      <if test="userImageUrl != null">
        #{userImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="userSchool != null">
        #{userSchool,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterTime != null">
        #{userRegisterTime,jdbcType=BIGINT},
      </if>
      <if test="userRegisterIp != null">
        #{userRegisterIp,jdbcType=VARCHAR},
      </if>
      <if test="userLastUpdateTime != null">
        #{userLastUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="userWeibo != null">
        #{userWeibo,jdbcType=VARCHAR},
      </if>
      <if test="userBloodType != null">
        #{userBloodType,jdbcType=CHAR},
      </if>
      <if test="userSays != null">
        #{userSays,jdbcType=VARCHAR},
      </if>
      <if test="userActivation != null">
        #{userActivation,jdbcType=INTEGER},
      </if>
      <if test="userFreeze != null">
        #{userFreeze,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.zpbs.model.UserExample" resultType="java.lang.Integer">
    select count(*) from USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update USER
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.groupId != null">
        GROUP_ID = #{record.groupId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null">
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null">
        USER_PHONE = #{record.userPhone,jdbcType=BIGINT},
      </if>
      <if test="record.userSex != null">
        USER_SEX = #{record.userSex,jdbcType=VARCHAR},
      </if>
      <if test="record.userQq != null">
        USER_QQ = #{record.userQq,jdbcType=BIGINT},
      </if>
      <if test="record.userEmail != null">
        USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userAddress != null">
        USER_ADDRESS = #{record.userAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userMark != null">
        USER_MARK = #{record.userMark,jdbcType=BIGINT},
      </if>
      <if test="record.userRankId != null">
        USER_RANK_ID = #{record.userRankId,jdbcType=INTEGER},
      </if>
      <if test="record.userLastLoginIp != null">
        USER_LAST_LOGIN_IP = #{record.userLastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.userBirthday != null">
        USER_BIRTHDAY = #{record.userBirthday,jdbcType=BIGINT},
      </if>
      <if test="record.userDescription != null">
        USER_DESCRIPTION = #{record.userDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.userImageUrl != null">
        USER_IMAGE_URL = #{record.userImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.userSchool != null">
        USER_SCHOOL = #{record.userSchool,jdbcType=VARCHAR},
      </if>
      <if test="record.userRegisterTime != null">
        USER_REGISTER_TIME = #{record.userRegisterTime,jdbcType=BIGINT},
      </if>
      <if test="record.userRegisterIp != null">
        USER_REGISTER_IP = #{record.userRegisterIp,jdbcType=VARCHAR},
      </if>
      <if test="record.userLastUpdateTime != null">
        USER_LAST_UPDATE_TIME = #{record.userLastUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="record.userWeibo != null">
        USER_WEIBO = #{record.userWeibo,jdbcType=VARCHAR},
      </if>
      <if test="record.userBloodType != null">
        USER_BLOOD_TYPE = #{record.userBloodType,jdbcType=CHAR},
      </if>
      <if test="record.userSays != null">
        USER_SAYS = #{record.userSays,jdbcType=VARCHAR},
      </if>
      <if test="record.userActivation != null">
        USER_ACTIVATION = #{record.userActivation,jdbcType=INTEGER},
      </if>
      <if test="record.userFreeze != null">
        USER_FREEZE = #{record.userFreeze,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update USER
    set ID = #{record.id,jdbcType=BIGINT},
      GROUP_ID = #{record.groupId,jdbcType=BIGINT},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      USER_PHONE = #{record.userPhone,jdbcType=BIGINT},
      USER_SEX = #{record.userSex,jdbcType=VARCHAR},
      USER_QQ = #{record.userQq,jdbcType=BIGINT},
      USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      USER_ADDRESS = #{record.userAddress,jdbcType=VARCHAR},
      USER_MARK = #{record.userMark,jdbcType=BIGINT},
      USER_RANK_ID = #{record.userRankId,jdbcType=INTEGER},
      USER_LAST_LOGIN_IP = #{record.userLastLoginIp,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{record.userBirthday,jdbcType=BIGINT},
      USER_DESCRIPTION = #{record.userDescription,jdbcType=VARCHAR},
      USER_IMAGE_URL = #{record.userImageUrl,jdbcType=VARCHAR},
      USER_SCHOOL = #{record.userSchool,jdbcType=VARCHAR},
      USER_REGISTER_TIME = #{record.userRegisterTime,jdbcType=BIGINT},
      USER_REGISTER_IP = #{record.userRegisterIp,jdbcType=VARCHAR},
      USER_LAST_UPDATE_TIME = #{record.userLastUpdateTime,jdbcType=BIGINT},
      USER_WEIBO = #{record.userWeibo,jdbcType=VARCHAR},
      USER_BLOOD_TYPE = #{record.userBloodType,jdbcType=CHAR},
      USER_SAYS = #{record.userSays,jdbcType=VARCHAR},
      USER_ACTIVATION = #{record.userActivation,jdbcType=INTEGER},
      USER_FREEZE = #{record.userFreeze,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.zpbs.model.User">
    update USER
    <set>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        USER_PHONE = #{userPhone,jdbcType=BIGINT},
      </if>
      <if test="userSex != null">
        USER_SEX = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userQq != null">
        USER_QQ = #{userQq,jdbcType=BIGINT},
      </if>
      <if test="userEmail != null">
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userMark != null">
        USER_MARK = #{userMark,jdbcType=BIGINT},
      </if>
      <if test="userRankId != null">
        USER_RANK_ID = #{userRankId,jdbcType=INTEGER},
      </if>
      <if test="userLastLoginIp != null">
        USER_LAST_LOGIN_IP = #{userLastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        USER_BIRTHDAY = #{userBirthday,jdbcType=BIGINT},
      </if>
      <if test="userDescription != null">
        USER_DESCRIPTION = #{userDescription,jdbcType=VARCHAR},
      </if>
      <if test="userImageUrl != null">
        USER_IMAGE_URL = #{userImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="userSchool != null">
        USER_SCHOOL = #{userSchool,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterTime != null">
        USER_REGISTER_TIME = #{userRegisterTime,jdbcType=BIGINT},
      </if>
      <if test="userRegisterIp != null">
        USER_REGISTER_IP = #{userRegisterIp,jdbcType=VARCHAR},
      </if>
      <if test="userLastUpdateTime != null">
        USER_LAST_UPDATE_TIME = #{userLastUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="userWeibo != null">
        USER_WEIBO = #{userWeibo,jdbcType=VARCHAR},
      </if>
      <if test="userBloodType != null">
        USER_BLOOD_TYPE = #{userBloodType,jdbcType=CHAR},
      </if>
      <if test="userSays != null">
        USER_SAYS = #{userSays,jdbcType=VARCHAR},
      </if>
      <if test="userActivation != null">
        USER_ACTIVATION = #{userActivation,jdbcType=INTEGER},
      </if>
      <if test="userFreeze != null">
        USER_FREEZE = #{userFreeze,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.zpbs.model.User">
    update USER
    set GROUP_ID = #{groupId,jdbcType=BIGINT},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=BIGINT},
      USER_SEX = #{userSex,jdbcType=VARCHAR},
      USER_QQ = #{userQq,jdbcType=BIGINT},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      USER_MARK = #{userMark,jdbcType=BIGINT},
      USER_RANK_ID = #{userRankId,jdbcType=INTEGER},
      USER_LAST_LOGIN_IP = #{userLastLoginIp,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{userBirthday,jdbcType=BIGINT},
      USER_DESCRIPTION = #{userDescription,jdbcType=VARCHAR},
      USER_IMAGE_URL = #{userImageUrl,jdbcType=VARCHAR},
      USER_SCHOOL = #{userSchool,jdbcType=VARCHAR},
      USER_REGISTER_TIME = #{userRegisterTime,jdbcType=BIGINT},
      USER_REGISTER_IP = #{userRegisterIp,jdbcType=VARCHAR},
      USER_LAST_UPDATE_TIME = #{userLastUpdateTime,jdbcType=BIGINT},
      USER_WEIBO = #{userWeibo,jdbcType=VARCHAR},
      USER_BLOOD_TYPE = #{userBloodType,jdbcType=CHAR},
      USER_SAYS = #{userSays,jdbcType=VARCHAR},
      USER_ACTIVATION = #{userActivation,jdbcType=INTEGER},
      USER_FREEZE = #{userFreeze,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>