<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nix.lovedomain.dao.mapper.StatisticsscoreMapper">
  <resultMap id="BaseResultMap" type="org.nix.lovedomain.model.Statisticsscore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacherId" jdbcType="INTEGER" property="teacherid" />
    <result column="courseId" jdbcType="INTEGER" property="courseid" />
    <result column="publishQuestionnaireId" jdbcType="INTEGER" property="publishquestionnaireid" />
    <result column="fraction" jdbcType="INTEGER" property="fraction" />
    <result column="avg" jdbcType="DOUBLE" property="avg" />
    <result column="classId" jdbcType="INTEGER" property="classid" />
    <result column="professionId" jdbcType="INTEGER" property="professionid" />
    <result column="facultyId" jdbcType="INTEGER" property="facultyid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.nix.lovedomain.model.Statisticsscore">
    <result column="attachJson" jdbcType="LONGVARCHAR" property="attachjson" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, teacherId, courseId, publishQuestionnaireId, fraction, avg, classId, professionId, 
    facultyId
  </sql>
  <sql id="Blob_Column_List">
    attachJson
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.nix.lovedomain.model.StatisticsscoreExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from statisticsScore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.nix.lovedomain.model.StatisticsscoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statisticsScore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from statisticsScore
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statisticsScore
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.nix.lovedomain.model.StatisticsscoreExample">
    delete from statisticsScore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.nix.lovedomain.model.Statisticsscore">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statisticsScore (teacherId, courseId, publishQuestionnaireId, 
      fraction, avg, classId, 
      professionId, facultyId, attachJson
      )
    values (#{teacherid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{publishquestionnaireid,jdbcType=INTEGER}, 
      #{fraction,jdbcType=INTEGER}, #{avg,jdbcType=DOUBLE}, #{classid,jdbcType=INTEGER}, 
      #{professionid,jdbcType=INTEGER}, #{facultyid,jdbcType=INTEGER}, #{attachjson,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.nix.lovedomain.model.Statisticsscore">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statisticsScore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teacherid != null">
        teacherId,
      </if>
      <if test="courseid != null">
        courseId,
      </if>
      <if test="publishquestionnaireid != null">
        publishQuestionnaireId,
      </if>
      <if test="fraction != null">
        fraction,
      </if>
      <if test="avg != null">
        avg,
      </if>
      <if test="classid != null">
        classId,
      </if>
      <if test="professionid != null">
        professionId,
      </if>
      <if test="facultyid != null">
        facultyId,
      </if>
      <if test="attachjson != null">
        attachJson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teacherid != null">
        #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="publishquestionnaireid != null">
        #{publishquestionnaireid,jdbcType=INTEGER},
      </if>
      <if test="fraction != null">
        #{fraction,jdbcType=INTEGER},
      </if>
      <if test="avg != null">
        #{avg,jdbcType=DOUBLE},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="professionid != null">
        #{professionid,jdbcType=INTEGER},
      </if>
      <if test="facultyid != null">
        #{facultyid,jdbcType=INTEGER},
      </if>
      <if test="attachjson != null">
        #{attachjson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.nix.lovedomain.model.StatisticsscoreExample" resultType="java.lang.Integer">
    select count(*) from statisticsScore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update statisticsScore
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.teacherid != null">
        teacherId = #{record.teacherid,jdbcType=INTEGER},
      </if>
      <if test="record.courseid != null">
        courseId = #{record.courseid,jdbcType=INTEGER},
      </if>
      <if test="record.publishquestionnaireid != null">
        publishQuestionnaireId = #{record.publishquestionnaireid,jdbcType=INTEGER},
      </if>
      <if test="record.fraction != null">
        fraction = #{record.fraction,jdbcType=INTEGER},
      </if>
      <if test="record.avg != null">
        avg = #{record.avg,jdbcType=DOUBLE},
      </if>
      <if test="record.classid != null">
        classId = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.professionid != null">
        professionId = #{record.professionid,jdbcType=INTEGER},
      </if>
      <if test="record.facultyid != null">
        facultyId = #{record.facultyid,jdbcType=INTEGER},
      </if>
      <if test="record.attachjson != null">
        attachJson = #{record.attachjson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update statisticsScore
    set id = #{record.id,jdbcType=INTEGER},
      teacherId = #{record.teacherid,jdbcType=INTEGER},
      courseId = #{record.courseid,jdbcType=INTEGER},
      publishQuestionnaireId = #{record.publishquestionnaireid,jdbcType=INTEGER},
      fraction = #{record.fraction,jdbcType=INTEGER},
      avg = #{record.avg,jdbcType=DOUBLE},
      classId = #{record.classid,jdbcType=INTEGER},
      professionId = #{record.professionid,jdbcType=INTEGER},
      facultyId = #{record.facultyid,jdbcType=INTEGER},
      attachJson = #{record.attachjson,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update statisticsScore
    set id = #{record.id,jdbcType=INTEGER},
      teacherId = #{record.teacherid,jdbcType=INTEGER},
      courseId = #{record.courseid,jdbcType=INTEGER},
      publishQuestionnaireId = #{record.publishquestionnaireid,jdbcType=INTEGER},
      fraction = #{record.fraction,jdbcType=INTEGER},
      avg = #{record.avg,jdbcType=DOUBLE},
      classId = #{record.classid,jdbcType=INTEGER},
      professionId = #{record.professionid,jdbcType=INTEGER},
      facultyId = #{record.facultyid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.nix.lovedomain.model.Statisticsscore">
    update statisticsScore
    <set>
      <if test="teacherid != null">
        teacherId = #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        courseId = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="publishquestionnaireid != null">
        publishQuestionnaireId = #{publishquestionnaireid,jdbcType=INTEGER},
      </if>
      <if test="fraction != null">
        fraction = #{fraction,jdbcType=INTEGER},
      </if>
      <if test="avg != null">
        avg = #{avg,jdbcType=DOUBLE},
      </if>
      <if test="classid != null">
        classId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="professionid != null">
        professionId = #{professionid,jdbcType=INTEGER},
      </if>
      <if test="facultyid != null">
        facultyId = #{facultyid,jdbcType=INTEGER},
      </if>
      <if test="attachjson != null">
        attachJson = #{attachjson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.nix.lovedomain.model.Statisticsscore">
    update statisticsScore
    set teacherId = #{teacherid,jdbcType=INTEGER},
      courseId = #{courseid,jdbcType=INTEGER},
      publishQuestionnaireId = #{publishquestionnaireid,jdbcType=INTEGER},
      fraction = #{fraction,jdbcType=INTEGER},
      avg = #{avg,jdbcType=DOUBLE},
      classId = #{classid,jdbcType=INTEGER},
      professionId = #{professionid,jdbcType=INTEGER},
      facultyId = #{facultyid,jdbcType=INTEGER},
      attachJson = #{attachjson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nix.lovedomain.model.Statisticsscore">
    update statisticsScore
    set teacherId = #{teacherid,jdbcType=INTEGER},
      courseId = #{courseid,jdbcType=INTEGER},
      publishQuestionnaireId = #{publishquestionnaireid,jdbcType=INTEGER},
      fraction = #{fraction,jdbcType=INTEGER},
      avg = #{avg,jdbcType=DOUBLE},
      classId = #{classid,jdbcType=INTEGER},
      professionId = #{professionid,jdbcType=INTEGER},
      facultyId = #{facultyid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--批量更新-->
  <insert id="inserts" parameterType="java.util.List">
    insert into  statisticsScore
    (teacherId,courseId,publishQuestionnaireId,attachJson,fraction,`avg`,classId,professionId,facultyId)
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.teacherId,jdbcType=INTEGER},
      #{item.courseId,jdbcType=INTEGER},
      #{item.publishQuestionnaireId,jdbcType=VARCHER},
      #{item.attachJson,jdbcType=VARCHER},
      #{item.fraction,jdbcType=INTEGER},
      #{item.avg,jdbcType=DOUBLE},
      #{item.classId,jdbcType=INTEGER},
      #{item.professionId,jdbcType=INTEGER},
      #{item.facultyId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>